* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Fondo general muy oscuro */
    background-color: #121418; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor Principal (Tarjeta) */
.contenedor {
    background-color: #1b1e25; 
    width: 320px;
    padding: 25px;
    border-radius: 35px;
    /* Sombras suaves (Neumorfismo) */
    box-shadow: 15px 15px 30px #0b0c0f, 
                -15px -15px 30px #2b303b;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Pantalla Verde */
.pantalla-verde {
    background-color: #8fac72; 
    padding: 20px;
    border-radius: 20px;
    text-align: right;
    color: #1b1e25;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.2), 
                inset -3px -3px 6px rgba(255,255,255,0.1);
    margin-bottom: 10px;
}

.pantalla-verde label {
    display: block;
    font-size: 0.75rem;
    opacity: 0.7;
    margin-bottom: 5px;
    font-weight: 600;
}

#resultado {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
}

/* Inputs */
input {
    width: 100%;
    padding: 15px;
    background-color: #1b1e25;
    border: none;
    border-radius: 12px;
    color: #e0e0e0;
    font-size: 1rem;
    outline: none;
    box-shadow: inset 4px 4px 8px #0e1013, 
                inset -4px -4px 8px #282c37;
    margin-bottom: 10px;
}

input::placeholder {
    color: #5c6270;
}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 10px;
}

button {
    padding: 15px;
    background-color: #1b1e25;
    border: none;
    border-radius: 15px;
    color: #aeb3c0;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 6px 6px 10px #0e1013, 
                -6px -6px 10px #282c37;
}

button:active {
    color: #8fac72; 
    box-shadow: inset 4px 4px 8px #0e1013, 
                inset -4px -4px 8px #282c37;
    transform: scale(0.98);
}

h2 {
    font-size: 0.9rem;
    color: #5c6270;
    margin-bottom: 5px;
    font-weight: normal;
}